.state-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $navBar_size;
  background-color: #fff;
  animation: open 300ms ease-in;
  border-radius: 20px 20px 0 0;
  transition: transform 300ms ease-in;
  z-index: 2;
  display: flex;
  flex-direction: column;
  user-select: none;
}

@keyframes open {
  from {
    transform: translateY($navBar_size);
  }

  to {
    transform: translateY(0);
  }
}

.state-bar.close {
  transform: translateY($navBar_size);
}

.state-bar {

  .title {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .product-pic {
      position: relative;
      display: inline-block;
      width: 80px;
      height: 80px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('/assets/testfile/mwp22.jpeg');
    }

    .product-text {
      position: relative;
      flex: 1;
      padding: 0 10px;


      .product-price {
        padding: 5px 0;
        b {
          padding-left: 2px;
          font-weight: normal;
          font-size: 1.4rem;
        }
      }
      .product-desc {
        color: #666;
        font-size: 0.8rem;
      }
    }

    .product-close {
      position: absolute;
      right: 10px;
      align-self: flex-start;
      padding: 10px;
      color: #555;
      font-size: 1.2rem;
    }

  }
  .details {
    position: static;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    padding: 0 20px 10px 20px;
    background-color: #fafafa;
    -webkit-overflow-scrolling: touch;

    .scroll {
      height:calc(100% + 1px);
    }


    h3 {
      font-weight: normal;
      padding: 10px 0;
      font-size: 0.8rem;
      color: #333;
    }

    .items, .items-size {
      position: relative;
      width: 80px;
      height: 80px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid transparent;
    }

    .items-size div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #fff;
    }

    .items {
      background-image: url('/assets/testfile/mwp22_av1.jpeg');
    }

    .items.select, .items-size.select {
      border-color: #000;
    }

    .items.nohave, .items-size.nohave{
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
      }
    }

    .variation {
      position: relative;
      // height: 80px;
    }

    .specs {
      position: relative;
      // display: grid;

    }

    .quantity {
      position: relative;
    }

  }


  .functions {
    position: relative;
    // bottom: 0;
    width: 100%;
    height: 100px;
    // background-color: red;
    // text-align: center;
    padding: 0 20px;
    // bottom: 0;

    a, button {
      position: relative;
      color: #fff;
      font-size: 1.1rem;
      top: 50%; 
      transform: translateY(-50%);
      height: 50px;
      
      width: 90%;
      margin: 0 auto;
      background-color: orangered;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
}

.mask {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, 0.5);
  animation: display 300ms ease-in;
  transition: opacity 300ms ease-in;
  z-index: -1;
}

.mask.close {
  z-index: 1;
  opacity: 0;
}

@keyframes display {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


