* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #282c34;
    position: relative;
    overflow: hidden;
}

button {
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    outline: transparent;
    transition-property: all;
    transition-duration: .3s;
    appearance: none;
    border: none;
    background-color: transparent;
    // background-color: yellow;
    color: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

.freese {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    background-color: #666;
    
    button {
        font-size: 0.9rem;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}



.break-text {
    word-wrap: break-word;
    word-break: keep-all;
}

.orange {
    // background-color: orangered;
    color: orangered;
}

.main-wrapper {
    height: 550vh;
}

.test {
    position: fixed;
    top: 10%;
}