* {
    padding: 0;
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #282c34;
    position: sticky;
}

button {
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    outline: transparent;
    transition-property: all;
    transition-duration: .3s;
    appearance: none;
    border: none;
    background-color: transparent;
    // background-color: yellow;
    color: #eee;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3rem;
    background-color: #666;
    
    button {
        font-size: 0.9rem;
    }
}

// fix phone bottom margin
nav.m_init {
    height: 4.5rem;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    min-width: 100vw;
    background-color: #dadada;
    display: flex;
    

    a {
        position: relative;
        height: 3rem;
        line-height: 3rem;
        font-size: 0.9rem;
        flex: 2;
        text-align: center;
        color: #555;
        // border-left: 1px solid linear-gradient(to bottom, #eee, transparent);
        // border-image: linear-gradient(to bottom, #eee, transparent)
    }

    .border:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        // background-color: #cacaca;
        background-image: linear-gradient(to bottom, #cacaca 50%, #dadada);
    }

    .side {
        flex: 1
    }
}